*{
	margin:0 auto;
	padding:0 auto;
	box-sizing:boder-box;
}	
main,aside{
	float:left;
}
aside article img{
	float:right;
}
aside article:nth-child(1){
	float: left;
	position: fixed;
	right: 20%;
	left:5%;
	bottom: 20%;
	padding-right:25px;
	font-size:25px;
}
aside article p{
color:#DEDDDD;
}
main article img{
	float:left;
}
main article:nth-child(1){
	float:right;
	position: fixed;
	right: 30%;
	left:30%;
	bottom: 70%;
	padding-left:25px;
	font-size: 25px; 
}
main article p{
color:#DEDDDD;	
}
main{
	width: 80%;
	height: 80%;
	padding: 10px;
}
aside{
	width:80%;
	height: 80%;
	padding: 10px;
}


